body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: hsl(276, 80%, 14%);
}

.container {
    width: 600px;
    margin: 200px auto;
    padding: 30px;
    background-color: #826b3d;

    text-align: center;
    border-radius: 19px;
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #53496a;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #2c1e1e;
}

.button-group .btn {
    margin: 10px;
}